<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/style.css" media="screen">
    <link rel="stylesheet" href="/font.css">
    <title>{{ title }} | C.Ezra.M</title>
    <script src="/bundle.js"></script>
</head>
<body>
    <header>
        <a id="header-link" href="/"></a>
        <label for="mode-switcher" class="mode-switcher-btn"></label>
        <input id="mode-switcher" type="checkbox">
    </header>
    <noscript>
        <div class="no-js notice">JavaScript support is disabled - <a href="/no-js">Learn what it means</a></div>
    </noscript>
    <div class="construction notice">Under Construction</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/me">About me</a></li>
            <li><a href="https://cezram.atabook.org/">Guestbook</a></li>
        </ul>
    </nav>
    <main>
        <h1>{{ title }}</h1>
        {%- assign isPost = tags | has_exp: "t", "t == 'post'" -%}
        {%- assign restTags = tags | where_exp: "t", "t != 'post'" -%}
        {%- if isPost -%}
            <section class="page-info">
                <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | fmtdate }}</time><br>
                Tags <em>(feature incomplete)</em>:
                {%- if restTags.size >= 1 -%}
                    <ul>
                        {%- for tag in restTags %}
                        <li><a href="/tags/{{tag | slugify}}">{{tag}}</a></li>
                        {% endfor -%}
                    </ul>
                {%- else -%}
                &#x20;None
                {%- endif -%}
            </section>
            <hr>
        {%- endif -%}
        {{ content }}
    </main>
    <footer>
        © 2026 C.Ezra.M
    </footer>
</body>
</html>