<!DOCTYPE html>
{{ default lang = "en" }}
<html lang="{{ lang }}">
<head>
    {{set ogDesc}}
        {{ (description !== null ? description : content) |> plaintext }}
    {{ /set }}
    {{ set isPost = tags.includes("post") }}
    {{ set isArt = tags.includes("art") }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"/>
    <meta name="generator" content="{{ generator }}">
    <meta property="og:title" content="{{ title |> escape }}">
    <meta property="og:description" content="{{ ogDesc |> escape }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:sitename" content="cezram.xyz">
    <meta property="og:locale" content="{{ lang }}">
    <link rel="stylesheet" href="/style.css" media="screen">
    <link rel="stylesheet" href="/font.css">
    <title>{{ title }} | C.Ezra.M</title>
    <script src="/bundle.js"></script>
    <script src="https://keepandroidopen.org/banner.js?size=minimal&hidebutton=off&animation=off" defer></script>
</head>
<body>
    <header>
        <a id="header-link" href="/"></a>
        <label for="mode-switcher" class="mode-switcher-btn"></label>
        <input id="mode-switcher" type="checkbox">
    </header>
    <noscript>
        <div class="no-js notice">JavaScript support is disabled - <a href="/no-js">Learn what it means</a></div>
    </noscript>
    <div class="construction notice">Under Construction</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/me">About me</a></li>
            <li><a href="https://cezram.atabook.org/">Guestbook</a></li>
        </ul>
    </nav>
    <main>
        <h1>{{ title }}</h1>
        {{ set restTags = tags.filter(e => !['post', 'art'].includes(e)) }}
        {{ if isPost || isArt }}
            <section class="page-info">
                <time datetime="{{ it.date |> date('ATOM') }}">{{ it.date |> date('FULL_DATETIME') }}</time><br>
                Tags <em>(feature incomplete)</em>:
                {{ if restTags.length >= 1 }}
                    <ul>
                        {{ for tag of restTags }}
                        <li><a href="/tags/{{tag |> slugify}}">{{tag}}</a></li>
                        {{ /for }}
                    </ul>
                {{ else }}
                &#x20;None
                {{ /if }}
            </section>
            <hr>
        {{ /if }}
        {{ content }}
    </main>
    <footer>
        © 2026 C.Ezra.M
    </footer>
</body>
</html>