<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/style.css" media="screen">
    <title>{{ title }} | The Ezranians</title>
</head>
<body>
    <header>
        <label for="mode-switcher" class="mode-switcher-btn"></label>
        <input id="mode-switcher" type="checkbox">
    </header>
    <div class="construction">Under Construction</div>
    <main>
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
    <footer>
        © 2026 The Ezranians
    </footer>
</body>
</html>