*, ::before, ::after {
    box-sizing: border-box;
    margin-top: 0;
}

:root {
    --primary: #FFBB22;
    --secondary: #000088;
    --tertiary: #990066;
    --primary-muted: #FFDD99;
    --secondary-muted: #4444BB;
    --tertiary-muted: #995577;
    --font-content: 'RareZen', Arial, Helvetica, sans-serif;
    --font-monospace: 'RareZen Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, serif;
}

html {
    color-scheme: dark;
    padding: 0.5rem;
    font-family: var(--font-content);
    font-stretch: condensed;
    font-width: condensed;
    background-image:
        linear-gradient(to bottom, transparent 50%, var(--secondary) 95%),
        url(/tiling-dark.png);
    min-height: 100%;
    &:has(#mode-switcher:checked) {
        color-scheme: light;
        background-image:
            linear-gradient(to bottom, transparent 50%, var(--primary) 95%),
            url(/tiling-light.png);
    }
}

body {
    margin: 0 auto;
    max-width: min(900px, 100%);
    overflow-wrap: break-word;
}

.notice {
    text-align: center;
    padding: 2px;
}

.construction {
    background-image: repeating-linear-gradient(135deg, #666 0, #666 20px, #660 20px, #660 40px, #666 40px);
    html:has(#mode-switcher:checked) & {
        background-image: repeating-linear-gradient(135deg, #bbb 0, #bbb 20px, #ee0 20px, #ee0 40px, #bbb 40px);
    }
}

.no-js {
    background-color: light-dark(#f66, #600);
}

#mode-switcher {
    display: none;
}

#header-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.mode-switcher-btn {
    background-color: light-dark(yellow, white);
    height: 80px;
    width: 50px;
    display: inline-block;
    right: 0;
    position: absolute;
    cursor: pointer;
}

header {
    height: 84px;
    position: relative;
    background-image: 
        url(/header-icon-dark.png),
        url(/header-bg-dark.png)
    ;
    background-repeat: 
        no-repeat, repeat-x
    ;
    border: 2px solid light-dark(var(--secondary), var(--primary));
    margin-bottom: 0.5rem;
    image-rendering: pixelated;
    &:has(#mode-switcher:checked) {
        background-image: 
            url(/header-icon-light.png),
            url(/header-bg-light.png)
        ;
    }
}

nav, main {
    border: 2px solid light-dark(var(--secondary), var(--primary));
    background-color: light-dark(var(--primary), var(--secondary));
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    > :last-child {
        margin-bottom: 0;
    }
}

nav > ul {
    padding-left: 0;
}
nav > ul > li {
    display: inline;
    &:not(:first-of-type)::before {
        content: "| "
    }
}
nav > ul > ul {
    display: none;
}

main::after{
    content: '';
    display: table;
    clear: both;
}

blockquote {
    border-left: 4px solid light-dark(var(--secondary), var(--primary));
    padding: 6px 10px;
    margin-left: 0;
    margin-right: 0;
    background-color: light-dark(var(--primary-muted), var(--secondary-muted));
    & > :last-child {
        margin-bottom: 0;
    }
}

footer {
    margin: auto;
    width: fit-content;
}

code, kbd, samp, var {
    font-family: var(--font-monospace);
    font-style: italic;
    color: light-dark(var(--tertiary), var(--primary));
    font-stretch: normal;
}

pre {
    font-family: var(--font-monospace);
    font-stretch: normal;
}

.float {
    float: right;
    padding: 0.5em 0 0.5em 0.5em;
}

table {
    border-collapse: collapse;
    > tr, > * > tr {
        > td, > th {
            border: 1px solid currentColor;
            padding: 2px;
        }
        > th {
            border-bottom: 3px solid light-dark(var(--secondary), var(--primary));
        }
        &:hover {
            background-color: light-dark(var(--primary-muted), var(--secondary-muted));
        }
    }
}

p > img {
    max-width: 100%;
}

/* Override Prism styling */

code[class*="language-"], pre[class*="language-"] {
    font-family: var(--font-monospace);
}

.page-info {
    font-size: smaller;
    margin-top: 0.85em;
    margin-bottom: 0.85em;
    ul > li {
        display: inline;
        &:not(:first-child)::before {
            content: " · "
        }
    }
    ul {
        display: contents;
    }
}

h1:has(+ .page-info) {
    margin-bottom: 0;
}

hr {
    border: 1px solid light-dark(var(--secondary), var(--primary));
}

.blog-posts-wrapper {
    container: grid / inline-size;
}

.blog-posts {
    display: grid;
    margin-bottom: 0.5em;
    gap: 0.5em;
    > article {
        background-color: light-dark(var(--primary-muted), var(--secondary-muted));
        padding: 0.5em;
        > h3, > :last-child {
            margin-bottom: 0;
        }
    }
}

@container grid (width > 540px) {
    .blog-posts {
        grid-template-columns: 1fr 1fr;
    }
}

.pixelated {
    image-rendering: pixelated;
}

.main-picture {
    width: 450px;
}

.scroll-container {
    height: 30rem;
    max-height: 30rem;
    overflow-y: auto;
    border: 2px solid light-dark(var(--secondary), var(--primary));
    padding: 0.5rem;
}

.microblog dt {
    font-weight: bold;
}

p:empty {
    display: none;
}