---
title: Consequences of enforcing ID verification
---

Here is a list of the possible consequences of ID verification.

- **Total Internet surveillance** as the authoritarian governments fuck up the lives of us, proles, more than ever.
- **Competition cannot exist** - 