---
title: Reasons and consequences of enforcing ID verification
---

- **Making parenting harder** - in the modern times, parenting is often treated as an afterthought, as more and more parents focus on climbing the corporate ladder. Because, quite frankly, life is becoming more and more expensive by the minute, while wages don't keep up as fast.
- **COPPA skirting** - when COPPA was introduced, large Internet companies decided to avoid all violations of COPPA by just...never learning of the child's age.

Here is a list of the possible consequences of ID verification.

- **Total Internet surveillance** as the authoritarian governments mess up the lives of us, proles, more than ever. Not just authoritarian governments - first of all, big companies want this to bypass existing data collection laws.
- **Competition cannot exist** - California's AB 1043 is an example of a "market protection" act. Big Tech has a nearly zero compliance cost, while the independent software maintainers must introduce the first step to a fully invasive infrastructure. (Oh, yes, it *is* Meta who actively lobbied for that law in the first place!)

## The Silver Lining: Where Age Verification is Actually Good

In some cases, there are legitimate uses of age verification. One of the first things that comes to mind is **financial institutions**, like banks or payment processors. Because they have to know who you are.